



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
body{
    height: 150vh;
}   
.butt{
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.deux{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.bas{
    position: absolute;
    bottom: -1000px;
    color: blue;
    font-size: 16px;
}